html {
    scroll-behavior: smooth;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #1af7ffe7;
    background-color: rgb(0, 33, 57);
    margin: 0;
}

/*Navigation bar*/
.navbar {
    padding-top: 25px;
    padding-bottom: 73px;
    padding-left: 40px;
    padding-right: 40px;
    position: -webkit-sticky;
	position: sticky;
	top: 0;
    background-color: rgb(0, 33, 57);
}

.btn {
    float: left;
    display: block;
    color: #1af7ffe7;
    text-align: center;
    background-color: rgb(0, 33, 57);
    text-decoration: none;
    border-color: #1af7ffe7;
    border-style: solid;
    border-width: thin;
    margin-left: 5px;
    margin-right: 5px;
}

.btn-radius-4 {
    padding: 15px;
    border-radius: 4px;
}

.btn-radius-50 {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 40px;
}

.navbar a:hover {
    background-color: #1af7ffe7;
    color: rgb(0, 33, 57);
}

.capitalize {
    text-transform: uppercase;
}

.font-size-13 {
    font-size: 13px
}

.font-size-15 {
    font-size: 15px;
}

.font-size-14 {
    font-size: 14px;
}

.btn-float-right {
    float: right
}

.main {
    padding: 0;
    margin: 0;
}

/*Profile Introduction*/
.introduction {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 3%;
    padding-bottom: 5%;
    background-image: linear-gradient(0deg, rgba(0, 33, 57, 0.4), rgba(0, 33, 57, 0.9)), 
        url('../images/introduction-background.jpg');
    background-size: cover;
    background-position: center;
}

.introduction-profile-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
}

.introduction-h1 {
    font-size: 55px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 10px;
}

.introduction-h4 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 25px;
    margin: 10px;
}

/*Resume*/
.resume {
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.resume a:hover {
    background-color: #1af7ffe7;
    color: rgb(0, 33, 57);
}

.resume-font-size {
    font-size: 15px;
}

/*Introduction Social Media Links*/
.introduction-social-media-links {
    padding-top: 50px;
    padding-bottom: 40px;
    width: 260px;
    margin-left: auto;
    margin-right: auto;
}

.introduction-social-media-links a:hover {
    background-color: #1af7ffe7;
    color: rgb(0, 33, 57);
}

/*Section Headings*/
.section-heading-h2 {
    color: #1af7ffe7;
    text-align: center;
}

.section-heading {
    padding-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

/*About Section*/
.about {
    background-color: rgb(0, 33, 57);
    width: 1000px;
    padding: 25px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    border: thin;
}

.about-heading {
    width: 110px;
}

.about-profile-image {
    display: block;
    width: 250px;
    height: 250px;
    padding-right: 25px;
}

.about-content {
    line-height: 1.5;
    color: rgb(144, 170, 189);
}

.about-a {
    text-decoration: none;
    color: #1af7ffe7;
}

/*Hover on Animation*/
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #1af7ffe7;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #1af7ffe7;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/*Experience Section*/
.experience-heading {
    width: 125px;
}

.experience {
    width: 1050px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 6px;
    padding-bottom: 25px;
    height: 150px;
}

.experience-child {
    background-color: rgb(0, 33, 57);
    width: 27%;
    padding: 20px;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 50px;
    border: thin;
    float: left;
}

.experience-company-a {
    color: #1af7ffe7;
    text-decoration: none;
}

.experience-position {
    font-size: 17px;
    color: rgb(193, 169, 208);
}

.experience-details {
    color: rgb(144, 170, 189);
}

p.thick {
    font-weight: bold;
}

.experience-logo {
    height: 32px;
    background-color: white;
}

/*Skills Section*/
.skills {
    background-color: rgb(0, 33, 57);
    width: 500px;
    border: 15px;
    padding: 50px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

.skills-heading {
    width: 65px;
}

.shadow {
    -moz-box-shadow: 0 0 5px 2px rgb(0, 11, 19);
    -webkit-box-shadow: 0 0 5px 2px rgb(0, 11, 19);
    box-shadow: 0 0 5px 2px rgb(0, 11, 19);
}

.footer {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: rgb(0, 11, 19);
}

.footer-copyrights {
    text-align: center;
    padding-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
}

.footer-social-media-links {
    padding-top: 0px;
    padding-bottom: 45px;
    width: 260px;
    margin-left: auto;
    margin-right: auto;
}

.footer-social-media-links a:hover {
    background-color: #1af7ffe7;
    color: rgb(0, 33, 57);
}
