html {
    scroll-behavior: smooth;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #1af7ffe7;
    margin: 0;
}

/*Navigation bar*/
.navbar {
    padding-top: 25px;
    padding-bottom: 73px;
    padding-left: 40px;
    padding-right: 40px;
    position: -webkit-sticky;
	position: sticky;
	top: 0;
    background-color: #003c67;
}